<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="messages">
      <button
        onClick="location.href='/new'"
        type="button"
        class="newMessageButton"
      >
        New Message
      </button>

      <% for (let i = 0; i < message_list.length; i++) { %>
      <div class="message-card">
        <p><span class="user"><%= message_list[i].user %></span> says</p>
        <p class="date"><%= message_list[i].date__formatted %></p>
        <p><%= message_list[i].text %></p>
      </div>
      <% } %>
    </div>
  </body>
</html>
